/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IRANSans", sans-serif;
}

@font-face {
    font-weight: 800;
    font-weight: 600;
    font-weight: 900;
    font-family: yekan;
    src: url(./assets/fonts/fonts/YekanBakhFaNum-Bold.woff);
    src: url(./assets/fonts/fonts/YekanBakhFaNum-SemiBold.woff);
    src: url(./assets/fonts/fonts/YekanBakhFaNum-ExtraBold.woff);
}

body {
    color: #333;
    border-radius: 28px;
    font-weight: 500;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Header */
.header {
    padding: 25px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.con {
    margin-right: 350px;
    display: flex;
    width: 53.11px;
    height: 53.11px;
}

.right {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.logo {
    font-weight: bold;
    color: #2f5bea;
    font-size: 18px;
}

.btn {
    padding: 5px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.btn.primary {
    background: #2f5bea;
    color: #fff;
}

.btn.outline {
    background: transparent;
    color: black;
    margin-left: 0;
}

/* Hero */
.hero {
    margin-top: -36px;
    padding: 36px 0;
    border-radius: 16px;
    position: relative;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1274px;
    height: 596px;
    border: 0.44px;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    font-size: 28px;
    color: #2f5bea;
    margin-bottom: 15px;
}

.hero p {
    font-weight: 400px;
    font-size: 25px;
    color: #111111;
    margin-bottom: 30px;
}

/* Categories */
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.category {
    padding: 8px 16px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    border: none;

}

.cat {
    border: 1px solid #11111114;
    width: 590px;
    height: 46px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1.85px 3.85px -3px;
}

.category.active {
    background: #2f5bea;
    color: #fff;
    border-color: #2f5bea;

}

.card {
    width: 1097px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    border-radius: 1rem;
    z-index: 1;
    margin-top: 1rem;
}

.card .arrow1 {
    position: absolute;
    z-index: 1;
    width: 35px;
    height: 35px;
    margin: 236px 39px 236px 1023px;
}

.card .arrow2 {
    position: absolute;
    z-index: 1;
    width: 35px;
    height: 35px;
    margin: 232px 1019px 233px 35px;
}

.photo {
    width: 1097px;
    height: 508px;
    border-radius: 35px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1.25rem;
}

.card .right-info {
    position: absolute;
    font-weight: 600;
    font-family: yekan;
    margin: 43px 39px 490px 850px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card .left-info {
    color: #FFFFFF;
    z-index: 1;
    position: absolute;
    font-weight: 600;
    font-family: yekan;
    margin: 42px 870px 499px 38px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.small-box {
    width: 786px;
    height: 139px;
    border: 1px solid #8e8cce;
    border-color: linear-gradient(95.86deg, #FFFFFF 16.86%, #6864FF 52.32%, #FFFFFF 101.43%);
    border-radius: 30px;
    background: linear-gradient(#6864FF 52.32%, #FFFFFF 101.43%);
    position: relative;
    margin: 0 auto;
    z-index: 1;
    filter: blur(50%);
}

.small-box .title {
    position: absolute;
    color: #FFFFFF;
    font-family: yekan;
    font-weight: 900;
    font-size: larger;
    /* padding: 5px 270px 5px 174px; */
    padding: 1rem 14rem;
    font-size: 25px;
    display: flex;
}

.small-box .desc {
    display: flex;
    position: absolute;
    color: #FFFFFF;
    font-family: yekan;
    font-weight: 600;
    font-size: 18px;
    padding: 5rem 7rem;
}

.next {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: -36px;
    padding: 36px 0;
    width: 1274px;
    height: 114px;
    margin: 18px auto;
}

.next .titr {
    display: flex;
    width: 230px;
    height: 70px;
    color: #444BFF;
    font-family: yekan;
    font-weight: 900px;
    font-size: 26px;
    margin-right: 600px;
}

.next .view {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100px;
    height: 41px;
    border-radius: 8px;
    border: none;
    background-color: #444BFF1A;
    color: #444BFF;
    font-family: yekan;
    font-weight: 600px;
    font-size: 13px;
    margin-left: 144px;
}


.container-card {
    width: 1097px;
    height: 430px;
    display: flex;
    gap: 1rem;
    margin: 0 auto;
}

.card1 {
    width: 400px;
    height: 300px;
}

.card1 img {
    display: flex;
    width: 356px;
    height: 243px;
    border-radius: 28px;
}

.card1 .bt1 {
    width: 125px;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: #C115741A;
    color: #C11574;
    font-size: 16px;
    font-family: yekan;
    margin-top: 1rem;
}

.card1 .bt2 {
    width: 80px;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: #444BFF1A;
    color: #444BFF;
    font-size: 16px;
    font-family: yekan;
    margin-top: 1rem;
}

.card1 h3 {
    font-family: yekan;
    font-size: 14px;
    color: #111111;
    font-style: normal;
    margin-top: 0.75rem;
}

.card1 p {
    font-family: yekan;
    font-size: 13px;
    color: #667085;
    font-style: normal;
    margin-top: 0.75rem;
}

.card2 {
    width: 400px;
    height: 300px;
}

.card2 .but1 {
    width: 125px;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: #444BFF1A;
    color: #444BFF;
    font-size: 16px;
    font-family: yekan;
    margin-top: 1rem;
}

.card2 .but2 {
    width: 40px;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: #0278471A;
    color: #027847;
    font-size: 16px;
    font-family: yekan;
    margin-top: 1rem;
}

.card2 img {
    display: flex;
    width: 356px;
    height: 243px;
    border-radius: 28px;
}

.card2 p {
    font-family: yekan;
    font-size: 13px;
    color: #667085;
    font-style: normal;
    margin-top: 0.75rem;
}

.card3 {
    width: 400px;
    height: 300px;
}

.card2 h3 {
    font-family: yekan;
    font-size: 14px;
    color: #111111;
    font-style: normal;
    margin-top: 0.75rem;
}

.card3 .b1 {
    width: 61px;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: #C115741A;
    color: #C11574;
    font-size: 16px;
    font-family: yekan;
    margin-top: 1rem;
}

.card3 .b2 {
    width: 52px;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: #444BFF1A;
    color: #444BFF;
    font-size: 16px;
    font-family: yekan;
    margin-top: 1rem;
}


.card3 img {
    display: flex;
    width: 356px;
    height: 243px;
    border-radius: 28px;
}

.card3 h3 {
    font-family: yekan;
    font-size: 14px;
    color: #111111;
    font-style: normal;
    margin-top: 0.75rem;
}

.card3 p {
    font-family: yekan;
    font-size: 13px;
    color: #667085;
    font-style: normal;
    margin-top: 0.75rem;
}

.card1 .person {
    width: 42px;
    height: 44px;
    border-radius: 59px;
    display: flex;
    gap: 1rem;
}

.card1 .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: -165px;
    margin-top: -31px;
    color: #000000;
}

.card1 .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: -165px;
    margin-top: 4px;
    color: #667085;
    font-size: 12px;
}

.card2 .person2 {
    width: 42px;
    height: 44px;
    border-radius: 59px;
    display: flex;
    gap: 1rem;
    margin-top: 1.25rem;
}

.card2 .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: -165px;
    margin-top: -31px;
    color: #000000;

}

.card2 .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: -165px;
    margin-top: 4px;
    color: #667085;
    font-size: 12px;
}

.card3 .person3 {
    width: 42px;
    height: 44px;
    border-radius: 59px;
    display: flex;
    gap: 1rem;
}

.card3 .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: -165px;
    margin-top: -31px;
    color: #000000;
}

.card3 .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: -165px;
    margin-top: 4px;
    color: #667085;
    font-size: 12px;
}


.container-spaceship {
    max-width: 1400px;
    height: 500px;
    top: 1720px;
    left: -150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.rightspaceship {
    width: 800px;
    height: 220px;
    margin-top: 6rem;
    margin-right: 11rem;
}

.carddd {
    display: flex;
    flex-direction: row;
    max-width: 1274px;
    gap: 1rem;
    justify-content: start;
    width: 174px;
    height: 34px;
}

.carddd .space {
    display: flex;
    justify-content: center;
    width: 96px;
    height: 35px;
    top: 58px;
    left: 1256px;
    border-radius: 8px;
    border-color: #444BFF1A;
    color: #444BFF;
    font-size: 16px;
    border: none;
    font-weight: 400px;
}

.carddd .marsss {
    display: flex;
    font-size: 16px;
    font-weight: 400px;
    border: none;
    justify-content: center;
    width: 61px;
    height: 35px;
    top: 58px;
    left: 1184px;
    border-radius: 8px;
    border-color: #C115741A;
    color: #C11574;
}

.contenttt {
    display: flex;
    flex-direction: column;
    height: 445px;
}

.contenttt h2 {
    display: flex;
    width: 560px;
    height: 105px;
    top: 101px;
    left: 793px;
    font-size: 27px;
    color: #111111;
    margin-top: 7rem;
    margin-top: .05rem;
}

.contenttt p {

    width: 519px;
    height: 272px;
    top: 216px;
    left: 832px;
    font-size: 22px;
    line-height: 193%;
    letter-spacing: 0%;
    color: #667085;
}

.contenttt p span {

    color: #444BFF;
    text-decoration: underline;
}

.leftspaceship {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: end;
    position: relative;
}

.leftspaceship img {
    display: block;
    height: 390px;
    width: 430px;
    border-radius: 26px;
    margin-left: 150px;
    margin-right: 580px;
    margin-top: -200px;
    margin-bottom: 0;
}

.leftspaceship .size {
    z-index: 5;
    position: absolute;
    width: 300px;
    height: 220px;
    top: -31px;
    left: 207px;
    rotate: 247deg;
}

.leftspaceship .size2 {
    position: absolute;
    width: 459px;
    height: 344px;
    top: -2px;
    left: -202px;
    rotate: 115deg;
    filter: blur(7px);
}

.container-product {
    width: 1100px;
    height: 500px;
    top: 2270px;
    left: 85px;
    display: flex;
    margin-top: 5rem;
}

.container-product .carddd1 {
    width: 356px;
    height: 490px;
    margin-right: 10rem;
}

.container-product .carddd1 img {
    width: 356px;
    height: 243px;
    top: 0px;
    left: 740px;
    border-radius: 26px;
}

.carddd1 .nature1 {
    width: 96px;
    height: 34px;
    border-radius: 8px;
    border: none;
    background-color: #C115741A;
    color: #C11574;
    font-size: 16px;
    margin-top: 0.75rem;
}

.carddd1 .nature2 {
    width: 88px;
    height: 34px;
    border-radius: 8px;
    border: none;
    background-color: #444BFF1A;
    color: #444BFF;
    font-size: 16px;
}

.carddd1 h3 {
    margin-top: 1rem;
    font-size: 16px;
    font-family: yekan;
    color: #111111;
}

.carddd1 p {
    font-size: 16px;
    font-family: yekan;
    margin-top: 0.5rem;
    color: #667085;
}

.carddd2 {
    width: 356px;
    height: 473px;
    margin-right: 1rem;
}

.carddd2 img {
    width: 353px;
    height: 243px;
    border-radius: 26px;
}

.carddd2 .man1 {
    width: 107px;
    height: 34px;
    border-radius: 8px;
    background-color: #444BFF1A;
    border: none;
    color: #444BFF;
    font-size: 16px;
}

.carddd2 .man2 {
    width: 40px;
    height: 34px;
    border-radius: 8px;
    background-color: #0278471A;
    border: none;
    font-size: 16px;
    color: #027847;
}

.carddd2 h3 {
    margin-top: 1rem;
    font-size: 17px;
    font-family: yekan;
    color: #111111;
}

.carddd2 p {
    font-size: 16px;
    font-family: yekan;
    color: #667085;
    margin-top: 0.5rem;
}

.carddd3 {
    width: 356px;
    height: 462px;
    margin-right: 1rem;
}

.carddd3 img {
    width: 353px;
    height: 243px;
    border-radius: 26px;
}

.carddd3 .phone1 {
    width: 61px;
    height: 34px;
    background-color: #C115741A;
    border-radius: 8px;
    border: none;
    color: #C11574;
    font-size: 16px;
}

.carddd3 .phone2 {
    width: 52px;
    height: 34px;
    border-radius: 8px;
    background-color: #444BFF1A;
    border: none;
    color: #444BFF;
    font-size: 16px;
}

.carddd3 h3 {
    color: #111111;
    font-size: 17px;
    font-family: yekan;
    margin-top: 1rem;
}

.carddd3 p {
    font-size: 15px;
    color: #667085;
    font-family: yekan;
    margin-top: 0.5rem;
}