/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IRANSans", sans-serif;
}

@font-face {
    font-weight: 500;
    font-family: yekan;
    src: url(./assets/fonts/fonts/YekanBakhFaNum-SemiBold.woff);

}

body {
    color: #333;
    border-radius: 28px;
    font-weight: 500;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Header */
.header {
    padding: 25px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.hero .container .hero-content img {
    padding-left: 500px;
    display: flex;
    width: 53.11px;
    height: 53.11px;
}

.right {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.logo {
    font-weight: bold;
    color: #2f5bea;
    font-size: 18px;
}

.btn {
    padding: 5px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.btn.primary {
    background: #2f5bea;
    color: #fff;
}

.btn.outline {
    background: transparent;
    color: black;
    margin-left: 10px;
}

/* Hero */
.hero {
    margin-top: -36px;
    padding: 36px 0;
    border-radius: 16px;
    position: relative;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1274px;
    height: 596px;
    /* left: 1.77px; */
    border: 0.44px;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    font-size: 28px;
    color: #2f5bea;
    margin-bottom: 15px;
}

.hero p {
    font-weight: 400px;
    font-size: 25px;
    color: #111111;
    margin-bottom: 30px;
}

/* Categories */
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.category {
    padding: 8px 16px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    border: none;

}

.cat {
    border: 1px solid #11111114;
    width: 590px;
    height: 46px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category.active {
    background: #2f5bea;
    color: #fff;
    border-color: #2f5bea;

}

.card {
    width: 1097px;
    height: 567px;
    margin: 0 auto;
    position: relative;
    border-radius: 1rem;
    z-index: 1;
}

.card .arrow1 {
    position: absolute;
    z-index: 1;
    width: 35px;
    height: 35px;
    margin: 236px 39px 236px 1023px;
}

.card .arrow2 {
    position: absolute;
    z-index: 1;
    width: 35px;
    height: 35px;
    margin: 232px 1019px 233px 35px;
}

.photo {
    width: 1097px;
    height: 508px;
    border-radius: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.card .right-info {
    position: absolute;
    font-weight: 600;
    font-family: yekan;
    margin: 43px 39px 490px 850px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card .left-info {
    color: #FFFFFF;
    z-index: 1;
    position: absolute;
    font-weight: 600;
    font-family: yekan;
    margin: 42px 870px 499px 38px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.small-box {
    width: 786px;
    height: 139px;
    border-image-source: linear-gradient(95.86deg, #FFFFFF 16.86%, #6864FF 52.32%, #FFFFFF 101.43%);
    border-radius: 30px;
    background-color: #7675DA;
    top: 870px;
    left: 246px;
    margin-right: 320px;
}

.small-box .title {
    color: #FFFFFF;
    font-family: yekan;
    font-weight: 900;
    font-size: larger;
    padding: 150px 250px;
    gap: 1rem;
}

.small-box .desc{
     color: #FFFFFF;
    font-family: yekan;
    font-weight: 500;
    font-size: small;
    padding: 22px 250px;
    gap: 1rem;
}